
	<div class="panel panel-default">
		<div class="panel panel-default">
			  <div class="panel-heading">
					<h3 class="panel-title">Developed for the Museum of Flight By</h3>
			  </div>
			  <div class="panel-body">
				  <div class="clearfix" style="clear: both">
					  <img src="http://placehold.it/350x350" class="img-responsive pull-left" alt="Terc">
					  <h2>Terc</h2>
					  <p>
						  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus
						  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce
						  dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
						  justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
						  nibh, ut fermentum massa justo sit amet risus.
					  </p>
				  </div>

				  <div class="clearfix" style="clear: both">
					  <img src="http://placehold.it/350x350" class="img-responsive pull-left" alt="Portland Webworks">
					  <h2>Portland Webworks</h2>
					  <p>
						  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus
						  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce
						  dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
						  justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
						  nibh, ut fermentum massa justo sit amet risus.
					  </p>
				  </div>

				  <div class="clearfix" style="clear: both">
					  <img src="http://placehold.it/350x350" class="img-responsive pull-left" alt="ISS Tracker">
					  <h2>ISS Tracker</h2>
					  <p>
						  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus
						  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce
						  dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
						  justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
						  nibh, ut fermentum massa justo sit amet risus.
					  </p>
				  </div>

				  <div class="clearfix" style="clear: both">
					  <img src="http://placehold.it/350x350" class="img-responsive pull-left" alt="WorldSat">
					  <h2>WorldSat</h2>
					  <p>
						  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus
						  commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce
						  dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
						  justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
						  nibh, ut fermentum massa justo sit amet risus.
					  </p>
				  </div>
			  </div>
		</div>
	</div>
